


.env

static/admin/css/

static/admin/fonts/

static/admin/img/

static/admin/js/

media/



bak.sqlite3

bakbak.sqlite3

*.sqlite3

bibid/__pycache__/

server/__pycache__/

twitter_api/__pycache__/

server/migrations/__pycache__/
